*.force
*.cache
*.info
*.json
*.pdb
*.dll
*.asset
*.dwlt
*.log
*.backup
Zenject/Library/metadata/a8/a8bd28fc7f808c246a45110365a06dfb
Zenject/Library/metadata/90/9057166d989239a4da85dbaf0e40ffe8
Zenject/Library/metadata/76/76bfb07473f7f4f4698005efdb422f9a
Zenject/Temp/UnityTempFile-db137e3856c5d87498af88185281a8c5
Zenject/Temp/UnityTempFile-c8120c617cd1ff840a6a28939de4dfbb
Zenject/Temp/UnityTempFile-b75a96f9ad71333409375c9cf79630a9
Zenject/Temp/UnityTempFile-a83364d081ff598478a1a121ce5b4661
Zenject/Temp/UnityTempFile-8f38be3a8b731b847b29a8bfaba045b3
Zenject/Library/metadata/4c/4c9cc5239f13c2f448d3c8076e718ce2
Zenject/Library/assetDatabase3
Zenject/Temp/UnityTempFile-837036a62ab7a4d47b1f6e2ba6b7a48f
Zenject/Temp/UnityTempFile-6b3b5a1f40f71b749882e80ff65e78c3
Zenject/Temp/UnityTempFile-24755fb0f3c0aff4681ba6486b0d57b4
Zenject/Temp/UnityTempFile-10eb7b2dd92989947b000c871ac5be77
Zenject/Temp/UnityLockfile
Zenject/Library/metadata/f2/f2c3e47e449fdaf4498a453d1326875a
Zenject/Library/metadata/ea/ea70bc846c046604c91aeb0099f13714
Zenject/Zenject.csproj
Zenject/Zenject-TestFramework.csproj
Zenject/Zenject-ReflectionBaking-Editor.csproj
Zenject/Zenject-PoolMonitor-Editor.csproj
Zenject/Zenject-Editor.csproj
Zenject/Assembly-CSharp.csproj
Zenject/.vs/Zenject/v15/Server/sqlite3/storage.ide-wal
Zenject/.vs/Zenject/v15/Server/sqlite3/storage.ide-shm
Zenject/.vs/Zenject/v15/.suo
